extends layout

block content
  include header.jade
  div.place-container.wrapper.center
    h1.place-title= place.title
    span.place-lexical (#{place.lexicalCategories[0]})
    p.place-definition= place.definition
    div#place-map.place-map(data-lat=place.lat, data-lng=place.lng)

  script(type='text/javascript', src='http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.js')    
  script(type='text/javascript', src='/js/mxn.js?(leaflet)')
  script(type='text/javascript', src='/js/map.js')

  script(type='text/javascript').
    window.onload = function() {
      load_map();
    };
